<script type="text/javascript">
var $tdmmp = jQuery.noConflict();

$tdmmp(document).ready(function() {
  $tdmmp('#rowclick4 tr')
  
  .click(function(event) {
  
  	if (event.target.checked==true)
{
$tdmmp(this).attr('class', 'ui-state-highlight');
  AddMsg($tdmmp(':checkbox', this).attr("value"));
} else {
$tdmmp(this).attr('class', 'ui-widget-content');
}

 if (event.target.type !== 'checkbox') {	
      $tdmmp(':checkbox', this).trigger('click');
    }
	
  })
  
   .mouseover(function(event) {
  
$tdmmp(this).addClass('ui-state-hover');
	
  })
    .mouseout(function(event) {
  
$tdmmp(this).removeClass('ui-state-hover');
	
  })
    
});
  
</script>

<h1 align="center" class="ui-state-active"><{$folder_title}> <{$total_messages}>/<{$totals_messages}></h1>

<{if $pagenav}>
    <div style="padding: 5px; float: right; text-align:right;">
    <{$pagenav}>
    </div>
    <br style="clear: both;" />
<{/if}>

<form name="<{$pmform.name}>" id="<{$pmform.name}>" action="<{$pmform.action}>" method="<{$pmform.method}>" <{$pmform.extra}> >
    <table border='0' id='rowclick4' cellspacing='1' cellpadding='4' width='100%' class='cell'>
    
        <tr align='center' valign='middle'>
            <td class='ui-state-default'><input name='allbox' id='allbox' onclick='xoopsCheckAll("<{$pmform.name}>", "allbox");' type='checkbox' value='Check All' /></td>
            <td class='ui-state-default'><img src='<{$xoops_url}>/images/download.gif' alt='' border='0' /></td>
            <td class='ui-state-default'>&nbsp;</td>
            <td class='ui-state-default' ><{$smarty.const._PM_FROM}></td>
            <td class='ui-state-default'><{$smarty.const._PM_SUBJECT}></td>
            <td align='center' class='ui-state-default'><{$smarty.const._PM_DATE}></td>
        </tr>
        
        <{if $total_messages == 0}>
            <tr>
                <td class='ui-widget-content' colspan='6' align='center'><{$smarty.const._PM_YOUDONTHAVE}></td>
            </tr>
        <{/if}>
        <{foreach item=message from=$messages}>
		 <{if $message.read_msg == 1}>
            <tr align='left' style='cursor:pointer' class='ui-widget-content'>
		<{else}>
		  <tr align='left' style='cursor:pointer' class='ui-state-highlight'>
		 <{/if}>
                <td valign='top' width='2%' align='center'>
                    <input type='checkbox' id='msg_id_<{$message.msg_id}>' name='msg_id[]' value='<{$message.msg_id}>' />
                </td>
                <{if $message.read_msg == 1}>
                    <td valign='top' width='5%' align='center'><img src='./images/topic.gif' title='<{$smarty.const._PM_READ}>' alt='<{$smarty.const._PM_READ}>' /></td>
                <{else}>
                    <td valign='top' width='5%' align='center'><img src='./images/new.gif' title='<{$smarty.const._PM_NOTREAD}>' alt='<{$smarty.const._PM_NOTREAD}>' /></td>
                <{/if}>
                <td valign='top' width='5%' align='center'>
                    <{if $message.msg_image != ""}>
                        <img style="padding: 5px;" src='<{$xoops_url}>/images/subject/<{$message.msg_image}>' alt='' />
                    <{/if}>
                </td>
                <td valign='middle' width='10%'>
                    <{if $message.postername != ""}>
                        <a href='<{$xoops_url}>/userinfo.php?uid=<{$message.posteruid}>'><{$message.postername}></a>
                    <{else}>
                        <{$anonymous}>
                    <{/if}>
                </td>
                <td valign='middle'>
                    <a onclick='AddMsg("<{$message.msg_id}>");return false;' href='javascript:;'>
                        <{$message.subject}>
                    </a>
                </td>
                <td valign='middle' align='center' width='25%'>
                    <{$message.msg_time}>
                </td>
            </tr>
        <{/foreach}>
    </table>
</form>
<{if $pagenav}>
<div style="padding: 5px;float: right; text-align:right;">
<{$pagenav}>
</div>
<{/if}>