<style type="text/css">
	H1 {
		font-family: Georgia, serif;
		font-size: 20px;
		font-weight: normal;
		}
			
	H2 {
		font-family: Georgia, serif;
		font-size: 16px;
		font-weight: normal;
		margin: 0px 0px 10px 0px;
		}
			
	#fileTreeDemo_2 {
		width: 12%;
		overflow-y: hidden;
		overflow-x: hidden;
		float:left;
		padding-top:5px;
		padding-left:10px;
		list-style:none;
		}
			
	#tdmmp {
		min-height:400px;
		overflow-y: auto;
		overflow-x: hidden;
		padding:0px;
		}
			
	#tdmview {
		overflow-y: auto;
		overflow-x: hidden;
		min-height:400px;
		display:none;
		top:-10px;
		}
			
	P.note {
		color: #999;
		clear: both;
		}
			
			
	#menusauv {
		position: absolute;
		float: left;
		margin: 13px 0px 0px 0px;
		width: 200px;
		text-decoration:none;
		text-align:left;
		color:#000000;
		z-index: 1000;
		}
	
		#menuread {
		position: absolute;
		float: left;
		margin: 13px 0px 0px 0px;
		width: 200px;
		text-decoration:none;
		text-align:left;
		color:#000000;
		z-index: 1000;
		}
		
	.cell td {
	padding: 5px;
	}
		</style>
		
	<script type="text/javascript">
		var $tdmmp = jQuery.noConflict();	
		$tdmmp(document).ready( function() {
				
		$tdmmp('#fileTreeDemo_2').fileTree({ script: './include/jquery.php?op=folder', expandSpeed: 750, collapseSpeed: 750, multiFolder: false }, function(file) { 
					});
	
		$tdmmp(".ui-resizable").resizable({  handles: 's'});
		AddFolder(1, 0);					
			});
  
	</script>

<div style="margin:10px;">
 <!-- header -->
 <{include file="db:tdmmp_header.html"}>
 <!-- off -->

 <!-- menu -->
 <{include file="db:tdmmp_menu.html"}>
 <!-- off menu -->
 
 <div style="width: 100%;">
 <div class="ui-widget-content">
	<div id="fileTreeDemo_2"></div>
	<div id="tdmmp" class="ui-resizable ui-widget-borderl"><div id="tdmfolder" style="padding: 5px;" value=""></div></div></div>
	<div id="tdmview" class="ui-widget-content ui-corner-all" ><div id="tdmmsg" style="padding: 5px;"></div></div>
	</div>
	

<br style="clear: both;">
</div>